<template name="user_info">
	<ul class="nav pull-right">
		{{#if currentUser}}
			{{> user_loggedin}}
		{{else}}
			{{> user_loggedout}}
		{{/if}}
	</ul>
</template>

<template name="user_loggedin">
	{{#if loggingIn}}
		<li>Logging in...</li>
	{{else}}
		<li>
			<img class="img-rounded avatar" src="{{avatar}}"/>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			{{user.username}}
			<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" id="logout"><i class="icon-off logout"></i> Logout</a></li>
			</ul>
		</li>
	{{/if}}
</template>

<template name="user_loggedout">
	<li>{{> loginButtons align="right"}}</li>
</template>
